	.layerBox {
				width: 100%;
				height: 100%;
				background-image: url('/img/wx-apply.png');
				background-size: 100%;
				background-repeat: no-repeat;
			}
			.layerShow {
				width: 256px;
				height: 256px;
				position: absolute;
				top: 212px;
				left: 40px;
			}
			.sanyuanQRcode{
				width: 100%;
				height: 100%;
			}