body{
	margin: 0;
}
.header-iframe{
	border: none;
	padding: 0;
}
.banner{
	height: 370px;
	max-width: 1920px;
	min-width: 1200px;
	background: url(../img/banner.png);
	background-size: cover;
	margin: 0 auto;
	background-position: center 0; 
} 
.parameter-contain{
	width: 100%;
	max-width: 1920px;
	min-width: 1200px;
	background: #f2f2f2;
	margin: 0 auto;
}
.parameter-cont{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
}
.parameter-cont .mallbar{
	width: 315px;
	height: 2200px;
	padding: 0;
	border: none;
	float: right;
	right: 0;
}
.parameter-cont .parameter-box{
	float: left;
	left: 0;
	width: 875px;
}
.parameter-cont .parameter-box .parameter-tit{
	width: 687px;
	height: 238px;
	background: #fff;
	margin: 20px auto;
}
.parameter-cont .parameter-box .parameter-topimg{
	width:867px;
	height:107px;
	background: url(../img/zu12.png);
}
.parameter-cont .parameter-box .parameter-detail{
	width:867px;
	background: #fff;
	margin-top: 20px;
	padding-top: 18px;
}
.parameter-cont .parameter-box .car-allname{
	font-size:22px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(51,51,51,1);
	margin-left: 20px;
}
.parameter-cont .parameter-box .car-p-tit{
	width: 827px;
	border: 1px solid #999999;
	line-height: 40px;
	margin-left: 20px;
	margin-top: 12px;
	text-align: center;
	font-size:16px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(51,51,51,1);
}
.parameter-cont .parameter-box .car-paramters{
	width: 827px;
	margin-left: 20px;
	margin-top: 12px;
}
.parameter-cont .parameter-box .car-paramters #tab-parameter{
	border-collapse: collapse;
	width: 827px;
	border: 1px solid #eee; 
}
#tab-parameter .conten-list{
	width: 827px;
	overflow: hidden;
}
#tab-parameter .th{
	width: 827px;
	color: #444;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}
#tab-parameter .conten-list div{
	width: 15.425%;
	float: left;
	line-height: 40px;
	height: 40px;
	color: #666;
	border: 1px solid #eee;
	font-size: 14px;
	padding-left: 1%;
}
#tab-parameter .conten-list div:nth-child(odd){
	background: #f8f8f8;
}

