@charset "UTF-8";

body {
	/* background: #fff; */
	line-height: 1;
	margin: 0;
	/* width: 100%; */
}
a{
	color: #666;
	text-decoration: none;
}
li{
	list-style: none;
}
.filter-cont {
	width: 850px;
	margin: 0 auto;
	/* background: #fff; */
	/* border: 1px solid #eee; */
	margin-bottom: 20px;
	overflow: hidden;
}
.filter-box {
	float: left;
	width: 850px;
	/* padding-top: 5px; */
	/* padding-left: 5px; */
	font-size: 14px;
	/* clear: both; */
	overflow: hidden;
	/* border-right: 1px solid #eee */
}
.filter-box .garbage{
	display: block;
	padding: 0;
	margin: 0;
	border: none;
	width: 835px;
	overflow: hidden;
}
.filter-box .garbage li{
	float: left;
	line-height: 35px;
	font-size: 14px;
}
/* .filter-box .garbage li:nth-child(1){
	width: 45px;
} */
.filter-box .garbage li:nth-child(2){
	max-width: 777px;
}
.filter-box .garbage li a{
	float: left;
	/* height: 35px; */
	line-height: 35px;
	font-size: 14px;
	margin-right: 16px;	
}
.filter-box .garbage li a.select {
	color: #ff6946
}
.filter-box .garbage li a.filter_btn {
	color: #239be0;
	cursor: pointer;
}
.garbage .filter-drop{
	width: 80px;
	margin-right: 15px;
	color: #333333;
}
.garbage .other ul{
	padding: 0;
	width: 750px;
	overflow: hidden;
}
.garbage .other ul li{
	line-height: 25px;
	width: 25px;
	border: 1px solid #d3d3d3;
	margin-right: 5px;
	text-align: center;
	cursor: pointer;
}

.garbage .other ul li.active{
	background: orange;
}
.garbage .other .all-car{
	width: 750px;
	border: 1px solid #d8d8d8;
	overflow: hidden;
	margin-top: 10px;
}
.garbage .other .all-car span{
	display: block;
	float: left;
	color: #333333;
	margin: 5px 5px 10px 5px;
	cursor: pointer;
}
.garbage .other .all-car span:hover{
	color: orangered;
}
.garbage .vhc a{
	
}
.t-hide{
	display: none;
}
.garbage ul li .defined{
	outline: none;
	width: 44px;
	height: 24px;
}
.garbage #district{
	margin-left: 10px;
}
.garbage #district select{
	width: 113px;
}
.garbage #district .ad-item{
	margin-left: 10px;
}